In [1]:
# Import libraries and dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi

%matplotlib inline

In [2]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Verify that Alpaca keys were loaded
print(f"Alpaca key type:{type(alpaca_api_key)}")
print(f"Alpaca secret tyep: {type(alpaca_secret_key)}")

Alpaca key type:<class 'str'>
Alpaca secret tyep: <class 'str'>

In [3]:
# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [18]:
# Subset your tickers, then pull returns data:
# Set the ticker
ticker = ["FB"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
# Results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2010-09-30', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-09-30', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df_fb = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

In [19]:
df_fb.tail(5)

                               FB
                             open     high       low   close    volume
2020-09-24 00:00:00-04:00  246.50  252.240  245.6200  249.52  17292547
2020-09-25 00:00:00-04:00  249.40  255.750  246.6100  254.82  16333161
2020-09-28 00:00:00-04:00  259.40  259.600  254.8208  256.91  14348908
2020-09-29 00:00:00-04:00  257.81  263.270  256.9000  261.79  17917754
2020-09-30 00:00:00-04:00  261.98  266.085  260.1000  261.80  15143419

In [20]:
# Subset your tickers, then pull returns data:
# Set the ticker
ticker = ["AAPL"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
# Results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2010-09-30', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-09-30', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df_aapl = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df
df_aapl.tail(5)

                             AAPL
                             open    high     low     close     volume
2020-09-24 00:00:00-04:00  105.17  110.25  105.00  108.2015  152123922
2020-09-25 00:00:00-04:00  108.43  112.44  107.67  112.2800  137542199
2020-09-28 00:00:00-04:00  114.98  115.32  112.78  115.0000  119572328
2020-09-29 00:00:00-04:00  114.55  115.31  113.57  114.1100   89125872
2020-09-30 00:00:00-04:00  113.77  117.25  113.62  115.6100  115978209

In [25]:
# Subset your tickers, then pull returns data:
# Set the ticker
ticker = ["AMZN"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
# Results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2010-09-30', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-09-30', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df_amzn = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df
df_amzn.tail(5)

                              AMZN
                              open     high        low     close   volume
2020-09-24 00:00:00-04:00  2977.79  3069.30  2965.0000  3018.580  5243062
2020-09-25 00:00:00-04:00  3054.86  3101.54  2999.0000  3094.650  4132029
2020-09-28 00:00:00-04:00  3148.85  3175.04  3117.1685  3175.040  3460095
2020-09-29 00:00:00-04:00  3175.39  3188.26  3132.5400  3142.920  2980251
2020-09-30 00:00:00-04:00  3141.14  3212.88  3133.9900  3147.425  4021286

In [22]:

# Subset your tickers, then pull returns data:
# Set the ticker
ticker = ["NFLX"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
# Results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2010-09-30', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-09-30', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df_nflx = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df
df_nflx.tail(5)

                               NFLX
                               open      high       low   close   volume
2020-09-24 00:00:00-04:00  470.5300  477.0000  467.8200  473.09  3385139
2020-09-25 00:00:00-04:00  474.3900  484.8700  468.0258  482.65  2608185
2020-09-28 00:00:00-04:00  489.1094  492.0000  477.8800  490.64  3804961
2020-09-29 00:00:00-04:00  489.5100  496.2868  486.5300  493.56  3144252
2020-09-30 00:00:00-04:00  492.7400  504.6300  489.2704  499.72  3581680

In [24]:
# Subset your tickers, then pull returns data:
# Set the ticker
ticker = ["GOOG"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
# Results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2010-09-30', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-09-30', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df_goog = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df
df_goog.tail(5)

                              GOOG
                              open       high        low    close   volume
2020-09-24 00:00:00-04:00  1411.03  1443.7087  1409.8500  1428.29  1353194
2020-09-25 00:00:00-04:00  1432.63  1450.0000  1413.3400  1444.49  1173155
2020-09-28 00:00:00-04:00  1474.21  1476.8000  1449.3011  1465.31  1390173
2020-09-29 00:00:00-04:00  1466.71  1476.6632  1458.8050  1470.12   780243
2020-09-30 00:00:00-04:00  1466.28  1489.7500  1459.8800  1469.61  1041427