In [329]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
import ta
import datetime

%matplotlib inline

In [330]:
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Verify that Alpaca keys were loaded
print(f"Alpaca key type:{type(alpaca_api_key)}")
print(f"Alpaca secret tyep: {type(alpaca_secret_key)}")

Alpaca key type:<class 'str'>
Alpaca secret tyep: <class 'str'>

In [331]:
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [332]:
from datetime import datetime

# Create the Facebook Datafram

ticker = ['FB']

# Set timeframe to '1D'
timeframe = "1D"

start_date = pd.Timestamp('2010-01-01', tz='America/New_York').isoformat()
end_date = datetime.now(tz=None)


fb_df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

fb_df.head()

                              FB
                            open   high    low    close     volume
time
2012-05-18 00:00:00-04:00  42.05  45.00  38.00  38.1820  478225344
2012-05-21 00:00:00-04:00  36.53  36.66  33.00  34.0255  155558610
2012-05-22 00:00:00-04:00  32.66  33.59  30.94  31.1100   94691008
2012-05-23 00:00:00-04:00  31.37  32.50  31.36  32.0000   66473588
2012-05-24 00:00:00-04:00  32.98  33.21  31.77  33.0200   43645197

In [333]:
fb_df_new = fb_df.copy()

In [334]:
fb_df_new.columns = ['_'.join(col).strip() for col in fb_df.columns.values]

In [335]:
fb_df_new
#then have tsla_df / microsoft_df , etc... and use pd.concat([tsla_df,microsoft_df],1) to put them

                           FB_open   FB_high    FB_low  FB_close  FB_volume
time
2012-05-18 00:00:00-04:00   42.050   45.0000   38.0000   38.1820  478225344
2012-05-21 00:00:00-04:00   36.530   36.6600   33.0000   34.0255  155558610
2012-05-22 00:00:00-04:00   32.660   33.5900   30.9400   31.1100   94691008
2012-05-23 00:00:00-04:00   31.370   32.5000   31.3600   32.0000   66473588
2012-05-24 00:00:00-04:00   32.980   33.2100   31.7700   33.0200   43645197
2012-05-25 00:00:00-04:00   32.900   32.9500   31.1100   31.8975   35371589
2012-05-29 00:00:00-04:00   31.460   31.6900   28.6500   28.8200   74780213
2012-05-30 00:00:00-04:00   28.730   29.5500   27.8600   28.1800   54228391
2012-05-31 00:00:00-04:00   28.560   29.6700   26.8300   29.6700   82460791
2012-06-01 00:00:00-04:00   28.920   29.1500   27.3900   27.7000   38918266
2012-06-04 00:00:00-04:00   27.220   27.6500   26.4400   26.8900   33675750
2012-06-05 00:00:00-04:00   26.700   27.7600   25.7500   25.8700   41368226
2012-06-06 00:00:00-04:00   26.120   27.1700   25.5200   26.8000   59977030
2012-06-07 00:00:00-04:00   27.000   27.3500   26.1500   26.2800   25396006
2012-06-08 00:00:00-04:00   26.570   27.7600   26.4400   27.0701   36661758
2012-06-11 00:00:00-04:00   27.160   28.0700   26.8350   27.0100   27247562
2012-06-12 00:00:00-04:00   27.480   27.7700   26.9600   27.3800   14737887
2012-06-13 00:00:00-04:00   27.660   28.1000   27.1000   27.2601   16758484
2012-06-14 00:00:00-04:00   27.650   28.3200   27.3800   28.2950   16233920
2012-06-15 00:00:00-04:00   28.520   30.1000   28.3500   29.9400   30310325
2012-06-18 00:00:00-04:00   29.940   32.0800   29.4100   31.4100   41914015
2012-06-19 00:00:00-04:00   31.535   32.1800   30.7000   31.9300   28510900
2012-06-20 00:00:00-04:00   31.920   31.9288   31.1500   31.6000   15028716
2012-06-21 00:00:00-04:00   31.670   32.5000   31.5100   31.8350   21178581
2012-06-22 00:00:00-04:00   32.410   33.4500   32.0600   33.1900   47609520
2012-06-25 00:00:00-04:00   32.880   33.0200   31.5500   32.0600   23158159
2012-06-26 00:00:00-04:00   32.690   33.4400   32.5000   33.1000   24080478
2012-06-27 00:00:00-04:00   32.460   32.9000   31.9000   32.2109   26550775
2012-06-28 00:00:00-04:00   31.960   32.1900   30.9000   31.3500   16819183
2012-06-29 00:00:00-04:00   31.920   31.9900   30.7600   31.1100   18435768
...                            ...       ...       ...       ...        ...
2020-08-31 00:00:00-04:00  293.950  296.8800  291.5500  293.0901   15101967
2020-09-01 00:00:00-04:00  294.710  301.4900  292.7100  295.5000   16279949
2020-09-02 00:00:00-04:00  298.880  303.6000  293.0500  302.5000   21809532
2020-09-03 00:00:00-04:00  295.990  297.6000  283.6300  291.1200   29320692
2020-09-04 00:00:00-04:00  287.250  289.0000  271.1400  282.6250   28312149
2020-09-08 00:00:00-04:00  271.280  279.3000  269.4200  270.9300   22385524
2020-09-09 00:00:00-04:00  275.770  278.4800  271.3500  273.7000   20803210
2020-09-10 00:00:00-04:00  275.800  279.1600  267.0319  268.0259   19386135
2020-09-11 00:00:00-04:00  270.060  271.3900  262.6400  266.6000   17925051
2020-09-14 00:00:00-04:00  270.950  276.6400  265.7000  266.1400   21907343
2020-09-15 00:00:00-04:00  270.670  274.5200  269.3000  272.4600   17159921
2020-09-16 00:00:00-04:00  267.290  272.4400  261.7900  263.6000   27814894
2020-09-17 00:00:00-04:00  258.280  261.5000  250.1900  254.8700   28542348
2020-09-18 00:00:00-04:00  258.405  259.2000  250.0500  252.2900   23650916
2020-09-21 00:00:00-04:00  247.540  249.9500  244.1300  248.0400   21743576
2020-09-22 00:00:00-04:00  253.310  255.3200  248.2200  254.7300   27665082
2020-09-23 00:00:00-04:00  255.260  257.9921  248.1500  249.0200   16687178
2020-09-24 00:00:00-04:00  246.500  252.2400  245.6200  249.5200   17292547
2020-09-25 00:00:00-04:00  249.400  255.7500  246.6100  254.8200   16333161
2020-09-28 00:00:00-04:00  259.400  259.6000  254.8208  256.9100   14348908
2020-09-29 00:00:00-04:00  257.810  263.2700  256.9000  261.7900   17931000
2020-09-30 00:00:00-04:00  261.980  266.0850  260.1000  261.8000   15143419
2020-10-01 00:00:00-04:00  265.350  268.3300  264.8000  266.6300   17390516
2020-10-02 00:00:00-04:00  261.180  265.1500  259.1800  259.9100   13078469
2020-10-05 00:00:00-04:00  262.200  264.8650  260.8401  264.6500   11134757
2020-10-06 00:00:00-04:00  262.010  265.6900  258.2400  258.5300   15310065
2020-10-07 00:00:00-04:00  259.200  260.1800  254.8200  258.0100   20736923
2020-10-08 00:00:00-04:00  259.630  264.6200  259.1488  263.7051   14474701
2020-10-09 00:00:00-04:00  264.520  264.7500  262.1700  264.4900   12400060
2020-10-12 00:00:00-04:00  270.200  280.1800  267.8700  275.7500   27501400

[2114 rows x 5 columns]

In [336]:
# Create the Amazon Dataframe

ticker = ['AMZN']

# Set timeframe to '1D'
timeframe = "1D"

start_date = pd.Timestamp('2010-01-01', tz='America/New_York').isoformat()
end_date = datetime.now(tz=None)


amzn_df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

amzn_df.head()

                             AMZN
                             open     high     low   close    volume
time
2010-01-04 00:00:00-05:00  136.15  136.610  133.14  133.88   7131998
2010-01-05 00:00:00-05:00  133.43  135.479  131.81  134.65   8602838
2010-01-06 00:00:00-05:00  134.60  134.730  131.65  132.30   6928254
2010-01-07 00:00:00-05:00  132.01  132.320  128.80  130.00  10641602
2010-01-08 00:00:00-05:00  130.60  133.680  129.03  133.54   9503284

In [337]:
amzn_df.columns.values

array([('AMZN', 'open'), ('AMZN', 'high'), ('AMZN', 'low'),
       ('AMZN', 'close'), ('AMZN', 'volume')], dtype=object)

In [338]:
amzn_df_new = amzn_df.copy()

amzn_df_new.columns = ['_'.join(col).strip() for col in amzn_df.columns.values]

amzn_df_new.head()

,AMZN_open,AMZN_high,AMZN_low,AMZN_close,AMZN_volume
time,,,,,
2010-01-04 00:00:00-05:00,136.15,136.610,133.14,133.88,7131998
2010-01-05 00:00:00-05:00,133.43,135.479,131.81,134.65,8602838
2010-01-06 00:00:00-05:00,134.60,134.730,131.65,132.30,6928254
2010-01-07 00:00:00-05:00,132.01,132.320,128.80,130.00,10641602
2010-01-08 00:00:00-05:00,130.60,133.680,129.03,133.54,9503284

In [339]:
# Create the Apple Dataframe

ticker = ['AAPL']

# Set timeframe to '1D'
timeframe = "1D"

start_date = pd.Timestamp('2010-01-01', tz='America/New_York').isoformat()
end_date = datetime.now(tz=None)


aapl_df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

#aapl_df.head()

In [340]:
aapl_df_new = aapl_df.copy()

aapl_df_new.columns = ['_'.join(col).strip() for col in aapl_df.columns.values]

aapl_df_new.head()

,AAPL_open,AAPL_high,AAPL_low,AAPL_close,AAPL_volume
time,,,,,
2010-01-04 00:00:00-05:00,30.487,30.643,30.340,30.597,116694866
2010-01-05 00:00:00-05:00,30.640,30.799,30.464,30.626,136014674
2010-01-06 00:00:00-05:00,30.626,30.747,30.107,30.134,133300804
2010-01-07 00:00:00-05:00,30.250,30.286,29.864,30.083,113809115
2010-01-08 00:00:00-05:00,30.043,30.286,29.866,30.270,104221988

In [341]:
aapl_df.columns.values

array([('AAPL', 'open'), ('AAPL', 'high'), ('AAPL', 'low'),
       ('AAPL', 'close'), ('AAPL', 'volume')], dtype=object)

In [342]:
# Create the Netflix Dataframe

ticker = ['NFLX']

# Set timeframe to '1D'
timeframe = "1D"

start_date = pd.Timestamp('2010-01-01', tz='America/New_York').isoformat()
end_date = datetime.now(tz=None)


nflx_df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

#nflx_df.head()

In [343]:
nflx_df_new = nflx_df.copy()

nflx_df_new.columns = ['_'.join(col).strip() for col in nflx_df.columns.values]

nflx_df_new.head()

,NFLX_open,NFLX_high,NFLX_low,NFLX_close,NFLX_volume
time,,,,,
2010-01-04 00:00:00-05:00,7.931,7.961,7.566,7.636,16142224
2010-01-05 00:00:00-05:00,7.697,7.697,7.259,7.357,23335557
2010-01-06 00:00:00-05:00,7.361,7.673,7.197,7.617,22522012
2010-01-07 00:00:00-05:00,7.721,7.757,7.463,7.486,9732800
2010-01-08 00:00:00-05:00,7.499,7.743,7.466,7.617,7971012

In [344]:
# Create the Goolge Dataframe

ticker = ['GOOG']

# Set timeframe to '1D'
timeframe = "1D"

start_date = pd.Timestamp('2010-01-01', tz='America/New_York').isoformat()
end_date = datetime.now(tz=None)


goog_df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

#goog_df.head()

In [345]:
goog_df_new = goog_df.copy()

goog_df_new.columns = ['_'.join(col).strip() for col in goog_df.columns.values]

goog_df_new.head()

,GOOG_open,GOOG_high,GOOG_low,GOOG_close,GOOG_volume
time,,,,,
2010-01-04 00:00:00-05:00,313.47,314.75,312.12,313.40,1622642
2010-01-05 00:00:00-05:00,313.59,313.92,310.77,312.01,2872417
2010-01-06 00:00:00-05:00,312.93,312.93,303.18,304.13,3844995
2010-01-07 00:00:00-05:00,304.70,305.00,296.32,297.00,6279974
2010-01-08 00:00:00-05:00,296.00,301.62,294.55,300.56,4564872

In [346]:
# remove the top level from each data frame to make it easier to add the TA columns, it will be put back before the dfs
# are concatenated
 
#fb_df=fb_df_new.droplevel(0, axis=1)
#aapl_df=aapl_df_new.droplevel(0, axis=1)
#amzn_df=amzn_df_new.droplevel(0, axis=1)
#nflx_df=nflx_df_new.droplevel(0, axis=1)
#goog_df=goog_df_new.droplevel(0, axis=1)

In [347]:
# drop the null values

fb_df=ta.utils.dropna(fb_df_new)
aapl_df=ta.utils.dropna(aapl_df_new)
amzn_df=ta.utils.dropna(amzn_df_new)
nflx_df=ta.utils.dropna(nflx_df_new)
goog_df=ta.utils.dropna(goog_df_new)

goog_df.head()

,GOOG_open,GOOG_high,GOOG_low,GOOG_close,GOOG_volume
time,,,,,
2010-01-04 00:00:00-05:00,313.47,314.75,312.12,313.40,1622642
2010-01-05 00:00:00-05:00,313.59,313.92,310.77,312.01,2872417
2010-01-06 00:00:00-05:00,312.93,312.93,303.18,304.13,3844995
2010-01-07 00:00:00-05:00,304.70,305.00,296.32,297.00,6279974
2010-01-08 00:00:00-05:00,296.00,301.62,294.55,300.56,4564872

In [348]:
## MOMENTUM INDICATORS

# see https://technical-analysis-library-in-python.readthedocs.io/en/latest/ta.html#momentum-indicators for definitions of 
# features added to the dataframe and links to explanitory content.

In [349]:
## AWESOME OSCILLATOR awe_osc (MOMENTUM INDICATOR)

fb_awesome_oscillator = ta.momentum.AwesomeOscillatorIndicator(high=fb_df['FB_high'], low=fb_df['FB_low'], s=5, len=34, fillna=False)
aapl_awesome_oscillator = ta.momentum.AwesomeOscillatorIndicator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], s=5, len=34, fillna=False)
amzn_awesome_oscillator = ta.momentum.AwesomeOscillatorIndicator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], s=5, len=34, fillna=False)
nflx_awesome_oscillator = ta.momentum.AwesomeOscillatorIndicator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], s=5, len=34, fillna=False)
goog_awesome_oscillator = ta.momentum.AwesomeOscillatorIndicator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], s=5, len=34, fillna=False)

fb_df['FB_awe_osc'] = fb_awesome_oscillator.ao()
aapl_df['AAPL_awe_osc'] = aapl_awesome_oscillator.ao()
amzn_df['AMZN_awe_osc'] = amzn_awesome_oscillator.ao()
nflx_df['NFLX_awe_osc'] = nflx_awesome_oscillator.ao()
goog_df['GOOG_awe_osc'] = goog_awesome_oscillator.ao()

#fb_df

In [350]:
## KAUFMAN'S ADAPTIVE MOVING AVERAGE kama (MOMENTUM INDICATOR)

fb_kama = ta.momentum.KAMAIndicator(close=fb_df['FB_close'], n=10, pow1=2, pow2=30, fillna=False)
aapl_kama = ta.momentum.KAMAIndicator(close=aapl_df['AAPL_close'], n=10, pow1=2, pow2=30, fillna=False)
amzn_kama = ta.momentum.KAMAIndicator(close=amzn_df['AMZN_close'], n=10, pow1=2, pow2=30, fillna=False)
nflx_kama = ta.momentum.KAMAIndicator(close=nflx_df['NFLX_close'], n=10, pow1=2, pow2=30, fillna=False)
goog_kama = ta.momentum.KAMAIndicator(close=goog_df['GOOG_close'], n=10, pow1=2, pow2=30, fillna=False)

fb_df['FB_kama'] = fb_kama.kama()
aapl_df['AAPL_kama'] = aapl_kama.kama()
amzn_df['AMZN_kama'] = amzn_kama.kama()
nflx_df['NFLX_kama'] = nflx_kama.kama()
goog_df['GOOG_kama'] = goog_kama.kama()

#fb_df

In [351]:
## RATE OF CHANGE roc (MOMENTUM INDICATOR)

fb_roc = ta.momentum.ROCIndicator(close=fb_df['FB_close'], n=12, fillna=False)
aapl_roc = ta.momentum.ROCIndicator(close=aapl_df['AAPL_close'], n=12, fillna=False)
amzn_roc = ta.momentum.ROCIndicator(close=amzn_df['AMZN_close'], n=12, fillna=False)
nflx_roc = ta.momentum.ROCIndicator(close=nflx_df['NFLX_close'], n=12, fillna=False)
goog_roc = ta.momentum.ROCIndicator(close=goog_df['GOOG_close'], n=12, fillna=False)

fb_df['FB_roc'] = fb_roc.roc()
aapl_df['AAPL_roc'] = aapl_roc.roc()
amzn_df['AMZN_roc'] = amzn_roc.roc()
nflx_df['NFLX_roc'] = nflx_roc.roc()
goog_df['GOOG_roc'] = goog_roc.roc()

#fb_df

In [354]:
## RELATIVE STRENGTH INDEX rsi (MOMENTUM INDICATOR)

fb_rsi = ta.momentum.RSIIndicator(close=fb_df['FB_close'], n=14, fillna=False)
aapl_rsi = ta.momentum.RSIIndicator(close=aapl_df['AAPL_close'], n=14, fillna=False)
amzn_rsi = ta.momentum.RSIIndicator(close=amzn_df['AMZN_close'], n=14, fillna=False)
nflx_rsi = ta.momentum.RSIIndicator(close=nflx_df['NFLX_close'], n=14, fillna=False)
goog_rsi = ta.momentum.RSIIndicator(close=goog_df['GOOG_close'], n=14, fillna=False)

fb_df['FB_rsi'] = fb_rsi.rsi()
aapl_df['AAPL_rsi'] = aapl_rsi.rsi()
amzn_df['AMZN_rsi'] = amzn_rsi.rsi()
nflx_df['NFLX_rsi'] = nflx_rsi.rsi()
goog_df['GOOG_rsi'] = goog_rsi.rsi()

#fb_df

In [358]:
## STOCHASTIC OSCILATOR/STOCHASTIC OSCILATOR SIGNALS stoch_osc stoch_signals (MOMENTUM INDICATORS)

fb_stoch_osc = ta.momentum.StochasticOscillator(high=fb_df['FB_high'], low=fb_df['FB_low'], close=fb_df['FB_close'], n=14, d_n= 3, fillna=False)
aapl_stoch_osc = ta.momentum.StochasticOscillator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], close=aapl_df['AAPL_close'], n=14, d_n= 3, fillna=False)
amzn_stoch_osc = ta.momentum.StochasticOscillator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], close=amzn_df['AMZN_close'], n=14, d_n= 3, fillna=False)
nflx_stoch_osc = ta.momentum.StochasticOscillator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], close=nflx_df['NFLX_close'], n=14, d_n= 3, fillna=False)
goog_stoch_osc = ta.momentum.StochasticOscillator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], close=goog_df['GOOG_close'], n=14, d_n= 3, fillna=False)

fb_df['FB_stoch_osc'] = fb_stoch_osc.stoch()
aapl_df['AAPL_stoch_osc'] = aapl_stoch_osc.stoch()
amzn_df['AMZN_stoch_osc'] = amzn_stoch_osc.stoch()
nflx_df['NFLX_stoch_osc'] = nflx_stoch_osc.stoch()
goog_df['GOOG_stoch_osc'] = goog_stoch_osc.stoch()

fb_df['FB_stoch_signal'] = fb_stoch_osc.stoch_signal()
aapl_df['AAPL_stoch_signal'] = aapl_stoch_osc.stoch_signal()
amzn_df['AMZN_stoch_signal'] = amzn_stoch_osc.stoch_signal()
nflx_df['NFLX_stoch_signal'] = nflx_stoch_osc.stoch_signal()
goog_df['GOOG_stoch_signal'] = goog_stoch_osc.stoch_signal()

#fb_df

In [361]:
## ULTIMATE OSCILATOR ult_osc (MOMENTUM INDICATOR)

fb_ult_osc = ta.momentum.UltimateOscillator(high=fb_df['FB_high'], low=fb_df['FB_low'], close=fb_df['FB_close'], s=7, m=14, len=28, ws=4.0, wm=2.0, wl=1.0, fillna=False)
aapl_ult_osc = ta.momentum.UltimateOscillator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], close=aapl_df['AAPL_close'], s=7, m=14, len=28, ws=4.0, wm=2.0, wl=1.0, fillna=False)
amzn_ult_osc = ta.momentum.UltimateOscillator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], close=amzn_df['AMZN_close'], s=7, m=14, len=28, ws=4.0, wm=2.0, wl=1.0, fillna=False)
nflx_ult_osc = ta.momentum.UltimateOscillator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], close=nflx_df['NFLX_close'], s=7, m=14, len=28, ws=4.0, wm=2.0, wl=1.0, fillna=False)
goog_ult_osc = ta.momentum.UltimateOscillator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], close=goog_df['GOOG_close'], s=7, m=14, len=28, ws=4.0, wm=2.0, wl=1.0, fillna=False)

fb_df['FB_ult_osc'] = fb_ult_osc.uo()
aapl_df['AAPL_ult_osc'] = aapl_ult_osc.uo()
amzn_df['AMZN_ult_osc'] = amzn_ult_osc.uo()
nflx_df['NFLX_ult_osc'] = nflx_ult_osc.uo()
goog_df['GOOG_ult_osc'] = goog_ult_osc.uo()

#fb_df

In [363]:
## WILLIAMS %R INDICATOR wlms (MOMENTUM INDICATOR)

fb_wlms_ind = ta.momentum.WilliamsRIndicator(high=fb_df['FB_high'], low=fb_df['FB_low'], close=fb_df['FB_close'], lbp=14, fillna=False)
aapl_wlms_ind = ta.momentum.WilliamsRIndicator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], close=aapl_df['AAPL_close'], lbp=14, fillna=False)
amzn_wlms_ind = ta.momentum.WilliamsRIndicator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], close=amzn_df['AMZN_close'], lbp=14, fillna=False)
nflx_wlms_ind = ta.momentum.WilliamsRIndicator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], close=nflx_df['NFLX_close'], lbp=14, fillna=False)
goog_wlms_ind = ta.momentum.WilliamsRIndicator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], close=goog_df['GOOG_close'], lbp=14, fillna=False)

fb_df['FB_wlms'] = fb_wlms_ind.wr()
aapl_df['AAPL_wlms'] = aapl_wlms_ind.wr()
amzn_df['AMZN_wlms'] = amzn_wlms_ind.wr()
nflx_df['NFLX_wlms'] = nflx_wlms_ind.wr()
goog_df['GOOG_wlms'] = goog_wlms_ind.wr()

#fb_df

In [ ]:
## VOLUME INDICATORS

# see https://technical-analysis-library-in-python.readthedocs.io/en/latest/ta.html#volume-indicators for definitions of 
# features added to the dataframe and links to explanitory content.

In [364]:
## ACCULMATION/DISTRIBUTION INDEX adi (VOLUME  INDICATOR)

fb_adi = ta.volume.AccDistIndexIndicator(high=fb_df['FB_high'], low=fb_df['FB_low'], close=fb_df['FB_close'], volume=fb_df['FB_volume'], fillna=False)
aapl_adi = ta.volume.AccDistIndexIndicator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], fillna=False)
amzn_adi = ta.volume.AccDistIndexIndicator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], fillna=False)
nflx_adi = ta.volume.AccDistIndexIndicator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], fillna=False)
goog_adi = ta.volume.AccDistIndexIndicator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], fillna=False)

fb_df['FB_adi'] = fb_adi.acc_dist_index()
aapl_df['AAPL_adi'] = aapl_adi.acc_dist_index()
amzn_df['AMZN_adi'] = amzn_adi.acc_dist_index()
nflx_df['NFLZ_adi'] = nflx_adi.acc_dist_index()
goog_df['GOOG_adi'] = goog_adi.acc_dist_index()

#fb_df

In [365]:
## CHALKIN MONEY FLOW INDICATOR cmf (VOLUME INDICATOR)

fb_cmf = ta.volume.ChaikinMoneyFlowIndicator(high=fb_df['FB_high'], low=fb_df['FB_low'], close=fb_df['FB_close'], volume=fb_df['FB_volume'], n=20, fillna=False)
aapl_cmf = ta.volume.ChaikinMoneyFlowIndicator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], n=20, fillna=False)
amzn_cmf = ta.volume.ChaikinMoneyFlowIndicator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], n=20, fillna=False)
nflx_cmf = ta.volume.ChaikinMoneyFlowIndicator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], n=20, fillna=False)
goog_cmf = ta.volume.ChaikinMoneyFlowIndicator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], n=20, fillna=False)

fb_df['FB_cmf'] = fb_cmf.chaikin_money_flow()
aapl_df['AAPL_cmf'] = aapl_cmf.chaikin_money_flow()
amzn_df['AMZN_cmf'] = amzn_cmf.chaikin_money_flow()
nflx_df['NFLX_cmf'] = nflx_cmf.chaikin_money_flow()
goog_df['GOOG_cmf'] = goog_cmf.chaikin_money_flow()

#fb_df

In [366]:
## EASE OF MOVEMENT EASE OF MOVEMENT SIGNAL eom eom_sig (VOLUME INDICATORS)

fb_eom = ta.volume.EaseOfMovementIndicator(high=fb_df['FB_high'], low=fb_df['FB_low'], volume=fb_df['FB_volume'], n=14, fillna=False)
aapl_eom = ta.volume.EaseOfMovementIndicator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], volume=aapl_df['AAPL_volume'], n=14, fillna=False)
amzn_eom = ta.volume.EaseOfMovementIndicator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], volume=amzn_df['AMZN_volume'], n=14, fillna=False)
nflx_eom = ta.volume.EaseOfMovementIndicator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], volume=nflx_df['NFLX_volume'], n=14, fillna=False)
goog_eom = ta.volume.EaseOfMovementIndicator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], volume=goog_df['GOOG_volume'], n=14, fillna=False)

fb_df['FB_eom'] = fb_eom.ease_of_movement()
aapl_df['AAPL_eom'] = aapl_eom.ease_of_movement()
amzn_df['AMZN_eom'] = amzn_eom.ease_of_movement()
nflx_df['NFLX_eom'] = nflx_eom.ease_of_movement()
goog_df['GOOG_eom'] = goog_eom.ease_of_movement()

fb_df['FB_eom_sig'] = fb_eom.sma_ease_of_movement()
aapl_df['AAPL_eom_sig'] = aapl_eom.sma_ease_of_movement()
amzn_df['AMZN_eom_sig'] = amzn_eom.sma_ease_of_movement()
nflx_df['NFLX_eom_sig'] = nflx_eom.sma_ease_of_movement()
goog_df['GOOG_eom_sig'] = goog_eom.sma_ease_of_movement()

#fb_df

In [367]:
## FORCE INDEX fi (VOLUME INDICATOR)

fb_fi = ta.volume.ForceIndexIndicator(close=fb_df['FB_close'], volume=fb_df['FB_volume'], n=13, fillna=False)
aapl_fi = ta.volume.ForceIndexIndicator(close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], n=13, fillna=False)
amzn_fi = ta.volume.ForceIndexIndicator(close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], n=13, fillna=False)
nflx_fi = ta.volume.ForceIndexIndicator(close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], n=13, fillna=False)
goog_fi = ta.volume.ForceIndexIndicator(close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], n=13, fillna=False)

fb_df['FB_fi'] = fb_fi.force_index()
aapl_df['AAPL_fi'] = aapl_fi.force_index()
amzn_df['AMZN_fi'] = amzn_fi.force_index()
nflx_df['NFLX_fi'] = nflx_fi.force_index()
goog_df['GOOG_fi'] = goog_fi.force_index()

#fb_df

In [370]:
## MONEY FLOW INDEX mfi (VOLUME INDICATOR)

fb_mfi = ta.volume.MFIIndicator(high=fb_df['FB_high'], low=fb_df['FB_low'], close=fb_df['FB_close'], volume=fb_df['FB_volume'], n=14, fillna=False)
aapl_mfi = ta.volume.MFIIndicator(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], n=14, fillna=False)
amzn_mfi = ta.volume.MFIIndicator(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], n=14, fillna=False)
nflx_mfi = ta.volume.MFIIndicator(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], n=14, fillna=False)
goog_mfi = ta.volume.MFIIndicator(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], n=14, fillna=False)

fb_df['FB_mfi'] = fb_mfi.money_flow_index()
aapl_df['AAPL_mfi'] = aapl_mfi.money_flow_index()
amzn_df['AMZN_mfi'] = amzn_mfi.money_flow_index()
nflx_df['NFLX_mfi'] = nflx_mfi.money_flow_index()
goog_df['GOOG_mfi'] = goog_mfi.money_flow_index()

#fb_df

In [371]:
## NEGATIVE VOLUME INDEX nvi (VOLUME INDICATOR)

fb_nvi = ta.volume.NegativeVolumeIndexIndicator(close=fb_df['FB_close'], volume=fb_df['FB_volume'], fillna=False)
aapl_nvi = ta.volume.NegativeVolumeIndexIndicator(close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], fillna=False)
amzn_nvi = ta.volume.NegativeVolumeIndexIndicator(close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], fillna=False)
nflx_nvi = ta.volume.NegativeVolumeIndexIndicator(close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], fillna=False)
goog_nvi = ta.volume.NegativeVolumeIndexIndicator(close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], fillna=False)

fb_df['FB_nvi'] = fb_nvi.negative_volume_index()
aapl_df['AAPL_nvi'] = aapl_nvi.negative_volume_index()
amzn_df['AMZN_nvi'] = amzn_nvi.negative_volume_index()
nflx_df['NFLX_nvi'] = nflx_nvi.negative_volume_index()
goog_df['GOOG_nvi'] = goog_nvi.negative_volume_index()

#fb_df

In [372]:
## ON BALANCE VOLUME obv (VOLUME INDICATOR)

fb_obv = ta.volume.OnBalanceVolumeIndicator(close=fb_df['FB_close'], volume=fb_df['FB_volume'], fillna=False)
aapl_obv = ta.volume.OnBalanceVolumeIndicator(close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], fillna=False)
amzn_obv = ta.volume.OnBalanceVolumeIndicator(close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], fillna=False)
nflx_obv = ta.volume.OnBalanceVolumeIndicator(close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], fillna=False)
goog_obv = ta.volume.OnBalanceVolumeIndicator(close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], fillna=False)

fb_df['FB_obv'] = fb_obv.on_balance_volume()
aapl_df['AAPL_obv'] = aapl_obv.on_balance_volume()
amzn_df['AMZN_obv'] = amzn_obv.on_balance_volume()
nflx_df['NFLX_obv'] = nflx_obv.on_balance_volume()
goog_df['GOOG_obv'] = goog_obv.on_balance_volume()

#fb_df

In [373]:
## VOLUME PRICE TREND vpt (VOLUME INDICATOR)

fb_vpt = ta.volume.VolumePriceTrendIndicator(close=fb_df['FB_close'], volume=fb_df['FB_volume'], fillna=False)
aapl_vpt = ta.volume.VolumePriceTrendIndicator(close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], fillna=False)
amzn_vpt = ta.volume.VolumePriceTrendIndicator(close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], fillna=False)
nflx_vpt = ta.volume.VolumePriceTrendIndicator(close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], fillna=False)
goog_vpt = ta.volume.VolumePriceTrendIndicator(close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], fillna=False)

fb_df['FB_vpt'] = fb_vpt.volume_price_trend()
aapl_df['AAPL_vpt'] = aapl_vpt.volume_price_trend()
amzn_df['AMZN_vpt'] = amzn_vpt.volume_price_trend()
nflx_df['NFLX_vpt'] = nflx_vpt.volume_price_trend()
goog_df['GOOG_vpt'] = goog_vpt.volume_price_trend()

#fb_df

In [376]:
## VOLUME WEIGHTED AVERAGE PRICE vwap (VOLUME INDICATOR)

fb_vwap = ta.volume.VolumeWeightedAveragePrice(high=fb_df['FB_high'], low=fb_df['FB_low'], close=fb_df['FB_close'], volume=fb_df['FB_volume'], n=14, fillna=False)
aapl_vwap = ta.volume.VolumeWeightedAveragePrice(high=aapl_df['AAPL_high'], low=aapl_df['AAPL_low'], close=aapl_df['AAPL_close'], volume=aapl_df['AAPL_volume'], n=14, fillna=False)
amzn_vwap = ta.volume.VolumeWeightedAveragePrice(high=amzn_df['AMZN_high'], low=amzn_df['AMZN_low'], close=amzn_df['AMZN_close'], volume=amzn_df['AMZN_volume'], n=14, fillna=False)
nflx_vwap = ta.volume.VolumeWeightedAveragePrice(high=nflx_df['NFLX_high'], low=nflx_df['NFLX_low'], close=nflx_df['NFLX_close'], volume=nflx_df['NFLX_volume'], n=14, fillna=False)
goog_vwap = ta.volume.VolumeWeightedAveragePrice(high=goog_df['GOOG_high'], low=goog_df['GOOG_low'], close=goog_df['GOOG_close'], volume=goog_df['GOOG_volume'], n=14, fillna=False)

fb_df['FB_vwap'] = fb_vwap.volume_weighted_average_price()
aapl_df['AAPL_vwap'] = aapl_vwap.volume_weighted_average_price()
amzn_df['AMZN_vwap'] = amzn_vwap.volume_weighted_average_price()
nflx_df['NFLX_vwap'] = nflx_vwap.volume_weighted_average_price()
goog_df['GOOG_vwap'] = goog_vwap.volume_weighted_average_price()

#fb_df

In [378]:
## KST OSCILATOR / KST SIGNAL kst kst_sig (TREND INDICATOR)

fb_kst = ta.trend.KSTIndicator(close=fb_df['FB_close'], r1=10, r2=15, r3=20, r4=30, n1=10, n2=10, n3=10, n4=15, nsig=9, fillna=False)
aapl_kst = ta.trend.KSTIndicator(close=aapl_df['AAPL_close'], r1=10, r2=15, r3=20, r4=30, n1=10, n2=10, n3=10, n4=15, nsig=9, fillna=False)
amzn_kst = ta.trend.KSTIndicator(close=amzn_df['AMZN_close'], r1=10, r2=15, r3=20, r4=30, n1=10, n2=10, n3=10, n4=15, nsig=9, fillna=False)
nflx_kst = ta.trend.KSTIndicator(close=nflx_df['NFLX_close'], r1=10, r2=15, r3=20, r4=30, n1=10, n2=10, n3=10, n4=15, nsig=9, fillna=False)
goog_kst = ta.trend.KSTIndicator(close=goog_df['GOOG_close'], r1=10, r2=15, r3=20, r4=30, n1=10, n2=10, n3=10, n4=15, nsig=9, fillna=False)

fb_df['FB_kst'] = fb_kst.kst()
aapl_df['AAPL_kst'] = aapl_kst.kst()
amzn_df['AMZN_kst'] = amzn_kst.kst()
nflx_df['NFLX_kst'] = nflx_kst.kst()
goog_df['GOOG_kst'] = goog_kst.kst()

fb_df['FB_kst_sig'] = fb_kst.kst_sig()
aapl_df['AAPL_kst_sig'] = aapl_kst.kst_sig()
amzn_df['AMZN_kst_sig'] = amzn_kst.kst_sig()
nflx_df['NFLX_kst_sig'] = nflx_kst.kst_sig()
goog_df['GOOG_kst_sig'] = goog_kst.kst_sig()

In [274]:
## MACD OSCILATOR macd macd_diff macd_sig (TREND INDICATOR)

fb_macd = ta.trend.MACD(close=fb_df['FB_close'], n_slow=26, n_fast=12, n_sign=9, fillna=False)
aapl_macd = ta.trend.MACD(close=aapl_df['AAPL_close'], n_slow=26, n_fast=12, n_sign=9, fillna=False)
amzn_macd = ta.trend.MACD(close=amzn_df['AMZN_close'], n_slow=26, n_fast=12, n_sign=9, fillna=False)
nflx_macd = ta.trend.MACD(close=nflx_df['NFLX_close'], n_slow=26, n_fast=12, n_sign=9, fillna=False)
goog_macd = ta.trend.MACD(close=goog_df['GOOG_close'], n_slow=26, n_fast=12, n_sign=9, fillna=False)

fb_df['FB_macd'] = fb_macd.macd()
aapl_df['AAPL_macd'] = aapl_macd.macd()
amzn_df['AMZN_macd'] = amzn_macd.macd()
nflx_df['NFLX_macd'] = nflx_macd.macd()
goog_df['GOOG_macd'] = goog_macd.macd()

fb_df['FB_macd_diff'] = fb_macd.macd_diff()
aapl_df['AAPL_macd_diff'] = aapl_macd.macd_diff()
amzn_df['AMZN_macd_diff'] = amzn_macd.macd_diff()
nflx_df['NFLX_macd_diff'] = nflx_macd.macd_diff()
goog_df['GOOG_macd_diff'] = goog_macd.macd_diff()

fb_df['FB_macd_sig'] = fb_macd.macd_sig()
aapl_df['AAPL_macd_sig'] = aapl_macd.macd_sig()
amzn_df['AMZN_macd_sig'] = amzn_macd.macd_sig()
nflx_df['NFLX_macd_sig'] = nflx_macd.macd_sig()
goog_df['GOOG_macd_sig'] = goog_macd.macd()

In [377]:
# this data frame is all of the Volume and Momentum indicators for all five stocks

volume_momentum_indicators_df = pd.concat(fb_df, aapl_df, amzn_df, nflx_df, goog_df)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"